body{
    margin :0;
    padding: 0;
}
.container-fluid{
    margin:0;
    padding:0;
}
.row{
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin:0;
    padding-bottom:10px;
    
}

.restaurant__header{
    width:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.2);
    padding-bottom:10px;
    height:730px;

}
.venue{
    width:50px;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 30px;
}
.service{
    text-align: center;
}
.chart-purpose{
    margin-left:30%;
}
.chart-purpose form select{
    background-color: white;
    border:none;
}
.main-heading{
   font-size:30px; 
}

.restaurant-facility{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    text-align: center
}
.sub-heading{
    font-size:16px;
    text-align: left;
}
.restaurant__chart{
    padding-bottom:10px;
}
.restaurant__chart--selector{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin-right:15px;
   
}
.restaurant__chart--selector div{
    padding-top:10px;
    padding-bottom:10px;
}
.restaurant__chart--selector div:hover{
    background-color:black;
    color:white;
}
.Drink-selector form{
    display: grid;
    padding-top: 10px;
    padding-bottom:10px;
    margin-right:15px;
   
   
}
.Drink-selector form select{
    background-color: white;
    border:1px solid black;
    padding : 10px 0px 10px 0px;
}
.restaurant__chart{
   width:60%;
    text-align: center;
    padding: 0px 20px 20px 20px;
}
.menu{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.wrapper{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding:10px;
    padding-top:40px;
    opacity: 0.3;
    grid-gap:19px;
}
.wrapper:hover{
    opacity :1!important;
}
.wrapper img{
    height : 80px;
    margin-top:20px;
    margin-right: 10px;

}
.wrapper .info h3,.wrapper .info h4 {
   font-size : 13px;
   text-align: left;
}
.wrapper img:hover{
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.2);
    height:99px;
}
.info{
    width:168px;
}
.add-remove{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:168px;
    grid-gap:5px;
}
.add-remove button{
    height: 50px;
    background-color:white;
    border:1px solid black;
}
.topnav{
    text-align: right;
    margin-right:10px;
    padding: 10px 5px 10px 10px;
}
.topnav img{
   width:20px;
   
}
.toggle{
    display: flex;
    justify-content: space-around;
    height:50px;
    margin-top:19px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right:7px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border:1px solid grey;
    height:27px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid grey;
    top:-2px;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.restaurant__billing{
    padding-bottom:10px;
   width:30%;
}
.restaurant__billing h3{
    font-size: 18px;
    font-weight: 600;
    margin-left:2%;
}
table tbody tr th, table tbody, tr, td{
    padding: 15px 15px 15px 10px;
    width:120px;
    

}
hr{
    width:94%;
}
.food-price{
    display: flex;
    justify-content: space-between;
    padding:15px;
}
.food-price h5{
    margin-right:14%;
}
.submit{
    display: flex;
    justify-content: center;
   
}
.submit button{
    background-color: green;
    color:white;
    border:none;
    width: 59%;
    padding:10px;
}

@media only screen and (max-width: 950px){
   .menu{
    grid-template-columns: auto;
   }
  
}
@media only screen and (max-width: 785px){
    .venue{
        margin-left:0px;
    }
    .toggle{
        display: none;
    }
    .food-price h5, .food-price p{
        margin :0px;
    }
}
@media only screen and (max-width: 515px){
    .menu{
        grid-template-columns: auto;
       }
       .wrapper{
        text-align: -webkit-center;
        display: flex;
        flex-direction: column;
       }
       .info h3, info h4{
           text-align: center;
       }
}
@media only screen and (max-width: 423px){
 .restaurant__header{
     display: none;
 }
 .chart-purpose{
     margin-left :0px;
     font-size :14px;
 }
 .topnav{
     display: none;
 }
 .row{
     flex-direction: column;
 }
 .restaurant__chart{
     width:auto;
 }
 .restaurant__billing{
     width:auto;
 }
table{
    width:100%;
}
 tbody, tr{
     width:auto!important;
 }
}